<div class="form-container">
    <div class="form-content">
        <div class="title">
            <h4>Project Details</h4>
            <div class="close-dialog-btn cursor-pointer" (click)="closePopUp($event)"><i class="fa fa-times"></i></div>       
        </div>
        <div class="details-control-cont">
            <div>
                <div class="view-bar">
                    <div class="tools-btn border-bottom-custom cursor-pointer"><i class="fa fa-info" title="Project information"></i></div>
                    <div class="tools-btn border-bottom-custom cursor-pointer"><i class="fa fa-comments" title="Project comments"></i></div>
                    <div class="tools-btn border-bottom-custom cursor-pointer"><i class="fa fa-paperclip" title="Project attachments"></i></div>
                    <!-- <div class="cursor-pointer"><i class="fa fa-paperclip" title="Project attachments"></i></div> -->
                </div>
            </div>
            <project-details-form 
                [projectId]="projectId" 
                [configObj]="configObj"
                (onFormClosed)="closePopUp($event)"
                (projectFormChange)="onProjectChange($event)"
                (projectFormAdd)="addNewProject($event)">
            </project-details-form>
        </div>
    </div>
</div>
