/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f1f1f1;
}

.cursor-pointer {
  cursor: pointer;
}

.display-inline {
  display: inline-block;
}

.border-bottom-custom {
  border-bottom: 1px solid #2d6886;
}

.rel-container {
  position: relative;
  width: 92%;
  margin-left: 66px;
}

.rel-container .tools-bar {
  border-bottom: 2px solid #2d6886;
  width: 94%;
  height: 39px;
}

.rel-container .tools-bar .tools-btn {
  color: #2d6886;
  padding: 13px;
  text-align: center;
}

.rel-container .tools-bar .tools-btn i {
  font-size: 24px;
}

.rel-container form {
  padding-top: 15px;
  width: 94%;
}

.rel-container form .form-group {
  padding-top: 15px;
}

.rel-container form .form-group label {
  display: block;
  padding-bottom: 5px;
}

.rel-container form .form-group [for="title"] {
  display: inline-block;
  padding-right: 10px;
  position: relative;
  top: -7px;
}

.rel-container form .form-group input {
  height: 30px;
  width: 100%;
  border: none;
  padding-left: 10px;
  background: #fff;
  border: 2px solid #eae3e3;
}

.rel-container form .form-group input:focus {
  border: 2px solid #eae3e3 !important;
}

.rel-container form .form-group #project-title {
  width: 100%;
}

.rel-container form #btns_actions_container-fixed {
  display: none;
  border-top: 2px solid #2d6886;
  margin-top: 14px;
  width: 105%;
}

.rel-container form #btns_actions_container-fixed .project-form-actions {
  border: 1px solid #2d6886;
  border-radius: 7px;
  padding: 7px;
  font-size: 15px;
  background: #2d6886;
  color: #fff;
  margin: 10px 10px 20px 10px;
}

.rel-container form #btns_actions_container-fixed .project-form-actions:hover {
  background: #2d6886;
  border: 1px solid #2d6886;
}

.rel-container form #btns_actions_container-fixed button:disabled {
  color: #fff !important;
  border: 1px solid #acacac;
  background: #acacac !important;
}

.rel-container form #btns_actions_container-fixed button:disabled:hover {
  cursor: default;
  background: #acacac !important;
  border: 1px solid #acacac !important;
}
