/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f1f1f1;
}

.cursor-pointer {
  cursor: pointer;
}

.display-inline {
  display: inline-block;
}

.border-bottom-custom {
  border-bottom: 1px solid #2d6886;
}

.projects-container {
  margin-left: 90px;
}

.projects-container .pagination {
  display: block;
  margin: 15px auto;
  width: 30%;
  text-align: center;
}

.projects-container .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.projects-container .pagination a.active {
  background-color: #2d6886;
  color: white;
}

.projects-container .pagination a:hover:not(.active) {
  background-color: #ddd;
}

.projects-container .project-container {
  cursor: pointer;
  width: 29%;
  height: 125px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  margin-right: 30px;
  margin-top: 70px;
  display: inline-block;
}

.projects-container .project-container .project-details {
  padding: 20px 20px 10px 20px;
  height: 85px;
}

.projects-container .project-container .project-details > div:first-child {
  display: inline-block;
  width: 80%;
}

.projects-container .project-container .project-details > div:last-child {
  display: inline-block;
  width: 18%;
}

.projects-container .project-container .project-details .project-name {
  width: 75%;
  font-size: 20px;
  text-align: left;
  display: inline-block;
  margin-bottom: 15px;
}

.projects-container .project-container .project-details .icons {
  text-align: right;
  position: relative;
  bottom: -32px;
  color: #486a76;
  direction: rtl;
}

.projects-container .project-container .project-details .icons svg:hover {
  color: #e6537f;
}

.projects-container .project-container .project-details .icons svg:first-child {
  padding: 0 0 0 5px;
}

.projects-container .project-container .project-details .icons svg:last-child {
  padding: 0 5px 0 0;
}

.projects-container .project-container .project-details .project-id {
  font-size: 20px;
  text-align: right;
}

.projects-container .project-container .project-details .project-short-desc {
  width: 100%;
  font-size: 15px;
  text-align: left;
  margin-bottom: 28px;
}

.projects-container .project-container .progress-bar {
  width: 100%;
  height: 10px;
  background-color: #fff;
}

.projects-container .project-container .progress-bar .current-progress-segment {
  width: 70%;
  height: 10px;
  background-color: #2d6886;
}

.projects-container .project-container:hover {
  background-color: #4486a0;
  color: #fff;
}

.projects-container .project-container:hover .progress-bar .current-progress-segment {
  background-color: #e6537f;
}

.projects-container-move {
  margin-left: 140px;
}
