<!--Template for projects page.-->
<div class="container">     
    <div class="row">
        <div *ngFor="let project of projects" class="col-md-4">
            <div class="project-container">
                <div class="project-details">
                    <div class="row">
                        <div class="col-md-8">
                            <a class ="project-name">{{ project.title }}</a> 
                        </div>
                        <div class="col-md-3">
                            <div class ="project-id">{{ project.id }}</div>
                            <div class="icons">
                                <div class="display-inline" (click)="onDeleteClick(project.id)">
                                    <i class="fa fa-trash" title="Delete project"></i>
                                </div>
                                <div class="display-inline" (click)="onClick(project.id)">
                                    <i class="fa fa-edit" title="Edit project"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row progress-bar">
                    <div class="col-md-12 current-progress-segment"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="pagination">
            <a href="#">&laquo;</a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
    </div> -->
</div>
<project-details-dialog *ngIf="visible" 
    [projectId]="selectedProjectId"
    [configObj]="updateProject"
    (formClosed)="onCloseForm($event)"
    (projectChange)="onProjectChange($event)"
    (projectAdd)="onAddProject($event)">
</project-details-dialog>
  