@import '..\\..\\_styles';

.container {
    margin-top: 70px;

    .col-md-4 {
        display: inline-block;
        margin-bottom: 20px;
    }

    .pagination {
        display: block;
        margin: 15px auto;
        width: 30%;
        text-align: center;
    
        a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }
    
        a.active {
            background-color: $blue;
            color: white;
        }
    
       a:hover:not(.active) {background-color: #ddd;}
    }

    .project-container {
        width: 100%;
        cursor: pointer;
        height: 125px;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
        background-color: #fff;
        display: inline-block;   
        
        .project-details {
            padding: 20px 10px;
            height: 85px;

          .row {  
              width: 100%;
              margin-left: 0 !important;

                &>div:first-child {
                    display: inline-block;
                }

                &>div:last-child {
                    display: inline-block;
                    padding: 0;
                }

                .project-name {
                    font-size: 18px;
                    text-align: left;
                    display: inline-block;
                    margin-bottom: 15px;
                }

                .icons {
                    text-align: right;
                    position: relative;
                    bottom: -18px;
                    font-size: 20px;
                    color: $dark_green;
                    direction: rtl;

                    svg:hover {
                        color: $magenta;
                    }

                    svg:first-child {
                        padding: 0 0 0 5px;
                    }

                    svg:last-child {
                        padding: 0 5px 0 0;
                        opacity: 1 !important;
                    }
                }
                
                .project-id {
                    font-size: 20px;
                    text-align: right;
                }
                
                .project-short-desc {
                    width: 100%;
                    font-size: 15px;
                    text-align: left;
                    margin-bottom: 28px;
                }
            }
        }
    
        .progress-bar.row {
            width: 100%;
            height: 10px;
            margin-left: 0 !important;
            background-color: #fff;
            top: 30px;
            position: relative;
        
            .current-progress-segment {
                width: 70%;
                height: 10px;
                background-color: $blue;
            }
        }
    }
}

.projects-container-move {
    margin-left: 140px;
}

.selected-project {
    background-color: $midtone_blue !important;
    color: #fff;

    .progress-bar {
        .current-progress-segment {
            background-color: $magenta;
        }
    }
}

.form-container {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    .form-content {
        background-color: #fefefe;
        margin: 2% auto;
        font-size: 18px;
        height: 90%;
        border: 1px solid #888;
        width: 85%;

        .title {
            width: 100%;
            background-color: $blue;
            padding: 15px 0px;
        
            h4 {
                color: #fff;
                margin: 0px 0px 0px 10px;
                display: inline-block;
            }

            .close-dialog-btn {
                color: #fff;
                font-size: 20px;
                float: right;
                padding-right: 15px;
                display: inline-block;
            }
        }

        .details-control-cont {
            position: relative;
            height: 90%;
            overflow: scroll;
            overflow-x: initial;

            .tools-btn {
                color: $blue;
                padding: 13px;
                text-align: center;

                i {
                    font-size: 24px;
                }
            }

            .view-bar {
                border-right: 2px solid #2d6886;
                height: inherit;
                position: fixed;
                height: 80%;
            }
        }
    }
}