@import '..\\..\\_styles';

.projects-container {
    margin-left: 90px;

    .pagination {
        display: block;
        margin: 15px auto;
        width: 30%;
        text-align: center;
    
        a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }
    
        a.active {
            background-color: $blue;
            color: white;
        }
    
       a:hover:not(.active) {background-color: #ddd;}
    }

    .project-container {
        cursor: pointer;
        width: 29%;
        height: 125px;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
        background-color: #fff;
        margin-right: 30px;
        margin-top: 70px;
        display: inline-block;   
        
        .project-details {
            padding: 20px 20px 10px 20px;
            height: 85px;

            &>div:first-child {
                display: inline-block;
                width: 80%;
            }

            &>div:last-child {
                display: inline-block;
                width: 18%;
            }

            .project-name {
                width: 75%;
                font-size: 20px;
                text-align: left;
                display: inline-block;
                margin-bottom: 15px;
            }

            .icons {
                text-align: right;
                position: relative;
                bottom: -32px;
                color: $dark_green;
                direction: rtl;

                svg:hover {
                    color: $magenta;
                }

                svg:first-child {
                    padding: 0 0 0 5px;
                }

                svg:last-child {
                    padding: 0 5px 0 0;
                }
            }
            
            .project-id {
                font-size: 20px;
                text-align: right;
            }
            
            .project-short-desc {
                width: 100%;
                font-size: 15px;
                text-align: left;
                margin-bottom: 28px;
            }
        }

        .progress-bar {
            width: 100%;
            height: 10px;
            background-color: #fff;
        
            .current-progress-segment {
                width: 70%;
                height: 10px;
                background-color: $blue;
            }
        }

        &:hover {
            background-color: $midtone_blue;
            color: #fff;

            .progress-bar {
                .current-progress-segment {
                    background-color: $magenta;
                }
            }
        }
    }
}

.projects-container-move {
    margin-left: 140px;
}