.projects-container {
  margin-left: 100px;
}

.projects-container .project-container {
  width: 27%;
  height: 100px;
  border: 1px solid #000;
  margin-right: 30px;
  margin-top: 70px;
  display: inline-block;
  padding: 20px 20px 10px 20px;
}

.projects-container .project-container .project-name {
  width: 75%;
  text-align: left;
  display: inline-block;
  margin-bottom: 20px;
}

.projects-container .project-container .project-id {
  width: 20%;
  text-align: right;
  display: inline-block;
}

.projects-container .project-container .project-short-desc {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.projects-container .project-container .progress-bar {
  width: 100%;
  height: 10px;
  background-color: #fff;
  margin-left: -20px;
}

.projects-container .project-container .red-segments {
  width: 70%;
  height: 10px;
  background-color: red;
}
