/* You can add global styles to this file, and also import other style files */

$font-stack: Helvetica, sans-serif;
$blue: rgb(45, 104 ,134);
$magenta: rgb(230, 83, 127);
$midtone_blue: rgb(68, 134, 160);
$dark_green: rgb(72, 106, 118);


body {
    background-color: #f1f1f1;
}


.cursor-pointer {
    cursor: pointer;
}

.display-inline {
    display: inline-block;
}

.border-bottom-custom {
    border-bottom: 1px solid $blue;
}