<div class="form-container">
    <div class="form-content">
        <div class="title">
            <h3>Project Details</h3>        
        </div>
        <form>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="" required readonly>
          </div>
          <div class="form-group">
            <label for="short-description">Short Description</label>
            <input type="text" class="form-control" id="short-description" readonly>
          </div>
          <div class="form-group">
                <label for="full-description">Full Description</label>
                <input type="text" class="form-control" id="full-description" readonly>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>