.form-container {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    .form-content {
        background-color: #fefefe;
        margin: 2% auto;
        font-size: 18px;
        height: 90%;
        border: 1px solid #888;
        width: 85%;

        .title {
            width: 100%;
            background-color: #009688;
            padding: 15px 0px;
        
            h4 {
                color: #fff;
                margin: 0px 0px 0px 10px;
                display: inline-block;
            }

            .close-dialog-btn {
                color: #fff;
                font-size: 20px;
                float: right;
                padding-right: 15px;
                display: inline-block;
            }
        }

        .details-control-cont {
            position: relative;
            height: 90%;
            overflow: scroll;
            overflow-x: initial;

            .tools-btn {
                color: #009688;
                padding: 13px;
                text-align: center;

                i {
                    font-size: 24px;
                }
            }

            .view-bar {
                border-right: 2px solid #009485;
                height: 100%;
                position: absolute;
            }

            .rel-container {
                position: relative;
                width: 92%;
                margin-left: 66px;

                .tools-bar {
                    border-bottom: 2px solid #009485;
                    width: 94%;
                    height: 39px;
                }

                form {
                    padding-top: 15px;
                    width: 94%;
        
                    .form-group {
                        padding-top: 15px;
        
                        label {
                            display: block;
                            padding-bottom: 5px;   
                        }
        
                        [for="title"] {
                            display: inline-block;
                            padding-right: 10px;
                        }
        
                        input {
                            height: 24px;
                            width: 100%;
                            border: none;
                            padding-left: 10px;
                        }
                        
                        .input-border {
                            border: 2px solid #eae3e3;
                        }

                        #project-title {
                            width: 100%;
                        }
                    }

                    #btns_actions_container-fixed {
                        display: none;
                        border-top: 2px solid #009485;
                        margin-top: 14px;
                        width: 105%;

                        .project-form-actions {
                            border: 1px solid #009485;
                            border-radius: 7px;
                            padding: 7px;
                            font-size: 15px;
                            background: #fff;
                            color: #009485;
                            margin: 10px 10px 20px 10px;

                            &:hover {
                                background: #009485;
                                color: #fff;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}