.form-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.form-container .form-content {
  background-color: #fefefe;
  margin: 2% auto;
  font-size: 18px;
  height: 90%;
  border: 1px solid #888;
  width: 85%;
}

.form-container .form-content .title {
  width: 100%;
  background-color: #009688;
  padding: 15px 0px;
}

.form-container .form-content .title h4 {
  color: #fff;
  margin: 0px 0px 0px 10px;
  display: inline-block;
}

.form-container .form-content .title .close-dialog-btn {
  color: #fff;
  font-size: 20px;
  float: right;
  padding-right: 15px;
  display: inline-block;
}

.form-container .form-content .details-control-cont {
  position: relative;
  height: 90%;
  overflow: scroll;
  overflow-x: initial;
}

.form-container .form-content .details-control-cont .tools-btn {
  color: #009688;
  padding: 13px;
  text-align: center;
}

.form-container .form-content .details-control-cont .tools-btn i {
  font-size: 24px;
}

.form-container .form-content .details-control-cont .view-bar {
  border-right: 2px solid #009485;
  height: 100%;
  position: absolute;
}

.form-container .form-content .details-control-cont .rel-container {
  position: relative;
  width: 92%;
  margin-left: 66px;
}

.form-container .form-content .details-control-cont .rel-container .tools-bar {
  border-bottom: 2px solid #009485;
  width: 94%;
  height: 39px;
}

.form-container .form-content .details-control-cont .rel-container form {
  padding-top: 15px;
  width: 94%;
}

.form-container .form-content .details-control-cont .rel-container form .form-group {
  padding-top: 15px;
}

.form-container .form-content .details-control-cont .rel-container form .form-group label {
  display: block;
  padding-bottom: 5px;
}

.form-container .form-content .details-control-cont .rel-container form .form-group [for="title"] {
  display: inline-block;
  padding-right: 10px;
}

.form-container .form-content .details-control-cont .rel-container form .form-group input {
  height: 24px;
  width: 100%;
  border: none;
  padding-left: 10px;
}

.form-container .form-content .details-control-cont .rel-container form .form-group .input-border {
  border: 2px solid #eae3e3;
}

.form-container .form-content .details-control-cont .rel-container form .form-group #project-title {
  width: 100%;
}

.form-container .form-content .details-control-cont .rel-container form #btns_actions_container-fixed {
  display: none;
  border-top: 2px solid #009485;
  margin-top: 14px;
  width: 105%;
}

.form-container .form-content .details-control-cont .rel-container form #btns_actions_container-fixed .project-form-actions {
  border: 1px solid #009485;
  border-radius: 7px;
  padding: 7px;
  font-size: 15px;
  background: #fff;
  color: #009485;
  margin: 10px 10px 20px 10px;
}

.form-container .form-content .details-control-cont .rel-container form #btns_actions_container-fixed .project-form-actions:hover {
  background: #009485;
  color: #fff;
}
