.form-container {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    .form-content {
        background-color: #fefefe;
        margin: 5% auto; 
        font-size: 18px;
        border: 1px solid #888;
        width: 70%;

        .title {
            width: 98%;
            background-color: #009688;
            padding: 15px 10px;
        
            h3 {
                color: #fff;
                margin: 0;
            }
        }

        .tools-bar {
            border-bottom: 2px solid #009485;
            width: 80%;
            height: 39px;
        }

        .rel-container {
            position: relative;

            .view-bar {
                border-right: 2px solid #009485;
                width: 20%;
                height: 100%;
                position: absolute;
            }
        }

        form {
            margin-left: 60px;

            .form-group {
                padding: 10px;

                &:first-child {
                    padding-right: 0;
                }

                label {
                    display: block;
                    padding-bottom: 5px;   
                }

                [for="title"] {
                    display: inline-block;
                    padding-right: 10px;
                }

                input {
                    height: 24px;
                    width: 100%;
                    border: 2px solid #eae3e3;
                    padding-left: 10px;
                }

                #project-title {
                    width: 95.2%;
                }
            }

            .submit-project-btn {
                background: #009688;
                border-radius: 7px;
                border-color: #009688;
                height: 30px;
                color: #fff;
            }
        }
    }
}