@import '..\\..\\_styles';

#views-header {
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    border-right: 2px solid $blue;
    display: inline-block;
    background-color: #fff;

    nav {
        margin-top: 60px;
        .arrow {
            font-size: 20px;
            padding: 18px;
            color: $blue;
        }
        a {
            display: block;
            font-size: 21px;
            text-align: center;
            padding: 12px 0;

            &:last-child {
                border-bottom: 1px solid $blue;
            }
        }
    }

    div.add-btn-container {
        font-size: 24px;
        color: $blue;
        text-align: center;
        padding: 12px 0;

        .add-btn {
            color: #fff;
            background: $blue;
            margin: auto;
            -webkit-align-items: center;
            align-items: center;
            border-radius: 12px;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            display: -webkit-flex;
            display: flex;
            -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
            height: 24px;
            -webkit-justify-content: center;
            justify-content: center;
            margin: 0 15px;
            position: relative;
            width: 24px;
            z-index: 0;

            svg {
                font-size: 16px;
            }

            &:after {
                color: $blue;
                background: $blue;
                border-radius: 12px;
                bottom: 0;
                content: "";
                height: 24px;
                left: 0;
                opacity: .5;
                position: absolute;
                right: 0;
                top: 0;
                -webkit-transition: .2s transform;
                transition: .2s transform;
                width: 24px;
                z-index: -1;
            }

            &:hover::after {
                -webkit-transform: scale(1.3);
                transform: scale(1.3);
            }
        }
    }
}

.normal-views-header {
    width: 50px;
}

.expanded-views-header {
    width: 131px;
}

.full-items {
    text-align: left !important;
    padding-left: 12px !important;
}

.label-hide {
    display: none;
    font-size: 17px;
}

.label-show {
    display: inline-block !important;
}