<header id="views-header" class="normal-views-header">
    <nav>
        <div class="arrow cursor-pointer" (click)="toggleViewModesHeader()"><i class="fas fa-chevron-right"></i></div>
        <a class="header-item">
            <i class="far fa-calendar-alt"></i>
            <span class="label-hide">Calendar</span>
        </a> 
    </nav>
    <div class="add-btn-container" (click)="addNewProject()">
        <div class="add-btn">
            <i class="fa fa-plus"></i>
        </div>
        <span class="label-hide">Add project</span>
    </div>
</header>
<project-details-dialog *ngIf="visible"
(formClosed)="onCloseForm($event)"
 [configObj] = "createProject"
 (projectChange)="onProjectChange($event)">
</project-details-dialog>