<header id="views-header" class="normal-views-header">
    <nav>
        <div class="arrow cursor-pointer" (click)="toggleViewModesHeader()"><i class="fas fa-chevron-right"></i></div>
        <a class="active"><i class="fas fa-chart-area"></i></a>
        <a><i class="far fa-chart-bar"></i></a>
        <a><i class="fas fa-chart-line"></i></a>
    </nav>
    <div (click)="addNewProject()"><i class="fa fa-plus-circle"></i></div>
</header>
<project-details-form *ngIf="visible"
(formClosed)="onCloseForm($event)"
 [configObj] = "createProject"
 (projectChange)="onProjectChange($event)">
</project-details-form>